<body>
  <nav>
    <h1>Derrick Kyereh</h1>
    <div>
      <img [src]="github" alt="" />
      <img [src]="linkden" alt="" />
    </div>
  </nav>
  <section class="home2">
    <img [src]="picOfMe" />
    <section class="text">
      <h1>Nice to meet you!</h1>
      <h1>I'm <u>Derrick Kyereh</u></h1>
      <br />
      <p>
        As a front-end developer based in the United States, I am dedicated to
        creating accessible and user-centric web applications that deliver
        exceptional experiences.
      </p>
      <button>Contact Me</button>
    </section>
  </section>
  <!--  -->
  <section class="home">
    <section class="text">
      <h1>Nice to meet you!</h1>
      <h1>I'm <u>Derrick Kyereh</u></h1>
      <br />
      <p>
        Based in the US, I’m a front-end developer passionate about building
        accessible web apps that users love.
      </p>
      <button>Contact Me</button>
    </section>
    <img [src]="picOfMe" />
  </section>
  <br />
  <!-- -------------------------------------------------------------------- -->
  <section class="skills">
    <div>
      <h1>C</h1>
      <p>4 years Expereince</p>
    </div>
    <div>
      <h1>Java</h1>
      <p>4 years Expereince</p>
    </div>
    <div>
      <h1>JavaScript</h1>
      <p>3 years Expereince</p>
    </div>
    <div>
      <h1>Angular</h1>
      <p>1 years Expereince</p>
    </div>
    <div>
      <h1>React</h1>
      <p>2 years Expereince</p>
    </div>
    <div>
      <h1>MySQL</h1>
      <p>2 years Expereince</p>
    </div>
  </section>
  <!-- -------------------------------------------------------------------- -->
  <h1 class="proj">Projects</h1>
  <br /><br />
  <section class="projects">
    <div>
      <img [src]="blockChain" alt="" />
      <h1>Sending Files between organizations with blockchain</h1>
      <p>ReactJs, Node, HTML, Typescript, Tailwind, Mongodb, AWS</p>
    </div>
    <div>
      <img [src]="vicWeb" alt="" />
      <h1>Photography Website</h1>
      <p>Angular, Typescript, HTML, SCSS,</p>
      <p class="img-description1">
        <a href="https://github.com/kyerehdi/port-app.git">View Code</a>
      </p>
    </div>
    <div>
      <img [src]="database" alt="" />
      <h1>Created a Club League Soccer database</h1>
      <p>Angular, Typescript, HTML, CSS, PHP, MySQL</p>
      <p class="img-description1">
        <a
          href="https://github.com/cmsc-vcu/202310-cmsc508-semester-project-cmsc508-202310-team-17/tree/main/Phase2"
          >View Code</a
        >
      </p>
    </div>
    <div>
      <img [src]="malwareScanner" alt="" />
      <h1>Developed a custom file scanner that checks for malware in a file</h1>
      <p>Language used was python, also used tkinter for the GUI</p>
      <p class="img-description">
        <a href="https://github.com/kyerehdi/Virus-Scanner">View Code</a>
      </p>
    </div>
    
    <div>
      <img [src]="linux" alt="" />
      <h1>Developed a custom shell utilizing the C programming language.</h1>
      <p>Language used was C</p>
      <p class="img-description">
        <a href="https://github.com/kyerehdi/Shell.git">View Code</a>
      </p>
    </div>
    <div>
      <img [src]="race" alt="" />
      <h1>2d Car racing game using threads</h1>
      <p>Language used was java</p>
      <p class="img-description">
        <a href="https://github.com/kyerehdi/Java-Car-Racing-game.git"
          >View Code</a
        >
      </p>
    </div>
    
  </section>
  <br /><br />
  <!-- -------------------------------------------------------------------- -->
  <section class="contact">
    <div class="text">
      <h1>Contact</h1>
      <p>
        I would love to hear about your project and how I could help. Please
        fill in the form, and I’ll get back to you as soon as possible.
      </p>
    </div>
    <div class="input">
      <br /><br />
      <form [formGroup]="email_form" (submit)="sendEmail($event)">
        <input
          type="text"
          placeholder="Name"
          formControlName="from_name"
          name="from_name"
        />
        <br />
        <input
          type="text"
          placeholder="Email"
          formControlName="email_id"
          name="email_id"
        />
        <br /><br /><br />
        <textarea
          name=""
          id=""
          placeholder="Message"
          formControlName="message"
          name="message"
        ></textarea>
        <br /><br />
        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>
  <section class="bot">
    <h1>Derrick Kyereh</h1>
    <div>
      <img [src]="github" alt="" />
      <img [src]="linkden" alt="" />
    </div>
  </section>
</body>
